@{
    var poll = ViewBag.Poll;
    ViewBag.Title = string.Format("Опрос - {0}", Html.Raw(poll.Title));
}
@model ScaleVoting.Models.FormVoting
@Html.AntiForgeryToken()
@Html.ValidationSummary(false)

@using (Html.BeginForm())
{
    <div id="@Html.Raw(poll.Id)" class="card m-2">
        <div class="card-header">
            @Html.Raw(poll.Title)
        </div>
        <p class="card-text">
            @{
                var counter = 0;
            }
            @foreach (var question in poll.Questions)
            {
                @Html.Raw(question.Title)
                foreach (var option in question.Options)
                {
                    <div class="form-check">
                        @Html.RadioButtonFor(model => model.Answers[counter], (object)option.Id)
                        <label class="form-check-label" for="@Html.Raw(option.Id)">
                            @Html.Raw(option.OptionContent)
                        </label>
                    </div>
                }
                counter++;
            }
        </p>
        <button type="submit" class="btn btn-primary">Голосовать</button>
    </div>
                }

<div class="card-text">
    <div class="row-fluid">
        @if (poll.Questions != null)
        {
            foreach (var question in poll.Questions)
            {
                <div class="span4">
                    <b>@Html.Raw(question.Title)</b>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Название опции</th>
                                <th>Количество голосов</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var option in question.TotalAnswer.Statistics)
                            {
                                <tr>
                                    <td>@Html.Raw(option.Key.OptionContent)</td>
                                    <td>@Html.Raw(option.Value)</td>
                                </tr>
                            }
                    </table>
                </div>
            }
        }
    </div>
</div>
