@{
    var stat = ViewBag.Stat;
    var poll = stat.Poll;
    ViewBag.Title = string.Format("Опрос - {0}", Html.Raw(poll.Title));
}
@using ScaleVoting.Domains
@model ScaleVoting.Models.FormVote
@Html.ValidationSummary(false)

<div id="poll-@Html.Raw(poll.Guid)" class="jumbotron justify-content-between">
    <h4 class="display-4 text-center">@poll.Title</h4>
    <hr class="my-4">
    @foreach (var question in poll.Questions)
    {
        <div class="card" id="question-@question.Guid">
            <div class="card-body">
                <h5 class="card-title">@question.Title</h5>

                <div class="card-text">
                    @if (question.Type == QuestionType.Single || question.Type == QuestionType.Multi)
                    {
                        <ul class="list-group">
                            @foreach (var option in question.Options)
                            {
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    @option.OptionContent
                                    <span class="badge badge-primary badge-pill">@stat.OptionCountStat[option.Guid]</span>
                                </li>
                            }
                        </ul>
                    }
                </div>
            </div>
        </div>
    }
    <br/>
</div>